.card .title {
    text-transform: uppercase;
    font-size: 1.6em;
    cursor: pointer;
    padding-bottom: 5px;
    margin-bottom: 5px;

}

.card .body {
    border: 1px solid grey;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    height: 18em;
    padding: 13px;
}

.card .body .graph {
    height: 100%;
    width: 100%;
}

body {
    background: #FFFFFE;
}

.content {
    max-width: 1200px;
    width: 99%;
    margin: 0 auto;
    padding-bottom: 1em;
}

button {
    border: 1px solid grey;
    background: #EEE;
}

button:hover {
    background: #DDD;
}

button:active {
    background: #BBB;
}

button:disabled {
    color: #EEEEEF;
    background: #7EC0EE;
}

.button_right {
    border-radius: 0px 15px 15px 0px;
    padding-right: 10px;
    margin-left: -2px;
}

.button_left {
    border-radius: 15px 0px 0px 15px;
    padding-left: 10px;
    margin-right: -2px;
}
